<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Halaman Update</h1>
    <form action="" method="post">
        <label for="">tanggal</label>
        <input for="tanggal" name="tanggal" type="date" required>
        <label for="">nama</label>
        <input name="nama" type="text" required>
        <label for="">judul</label>
        <input name="judul" type="text" required>
        <label for="">detail</label>
        <input textarea name="detail" type="text" required></textarea>
        <button type="submit">update</button>
    </form>
</body>
</html>