<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materi Flask SQLAlchemy</title>
</head>
<body>
    <h5>halo tiyanmoe, please input username and email!</h5>
    <form action="" method="post">
        <label for="">Username:</label>
        <input type="text" name="username">
        <label for="">E-mail:</label>
        <input type="email" name="email">
        <button type="submit">Simpan</button>
    </form>

    <br>
    <div>
        {% for c in context %}
        <li>
            {{c.username}} ------- {{c.email}}
        </li>
        {% endfor %}
    </div>
</body>
</html>